body {
  background-color: rgb(239, 239, 239);
  width: 80%;
  margin: 0 auto;
  font-family: sans-serif;
}

.container {
  margin-top: 50px;
}

.form__item {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin-bottom: 10px;
}

.form__input {
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.button {
  border: 1px solid blue;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  background-color: rgb(3, 241, 152);
  border: 1px solid rgb(55, 195, 142);
  border-radius: 3px;
}
.button a {
  color: #000;
  text-decoration: none;
}

.commit__row {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid rgb(200, 200, 200);
  margin-bottom: 5px;
  font-size: 12px;
}

.commit__time {
  font-weight: bold;
  padding: 10px;
  flex: 1 0;
}

.commit__message {
  padding: 10px;
  flex: 2 0;
}

.commit__author {
  padding: 10px;
  flex: 1 0;
}

.button__load-more {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 100px;
}
.button__load-more button,
.button__get-commit {
  padding: 10px;
  background-color: rgb(3, 241, 152);
  border: 1px solid rgb(55, 195, 142);
  border-radius: 3px;
  cursor: pointer;
}
